# Build folders
**/bin/
**/obj/

# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/

# User files
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
*.cache

.env
appsettings.Development.json

# Node / Vite
node_modules/
AspNetVite/node_modules/
.vite/
dist/

# build output
dist/
wwwroot/dist/